
@font-face {
	font-family: lastninja; 
	src: url('../font/lastninja.ttf');
} 
@keyframes float{
  50%{
    transform: translateY(15px);
  }
}
@keyframes taadaa{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes taadaa2{
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}


body{
	background-image: url('../img/fond4.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.accueil h1,h2,p,form{
	text-align: center;
}


.accueil h1{
	color : white;
	margin-top : 3%;
	font-family: lastninja;
	font-size: 400%;
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.accueil h2{
	color : white;
	margin-top : 8%;
	font-family: lastninja;
	font-size: 300%;
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    border: solid white;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: white;
    border: solid DodgerBlue ;
    transition: 1s;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: DodgerBlue;
    transition: 1s;
  }




@media only screen and (max-width: 500px) {
    
  .accueil img{
    animation:taadaa 2s forwards, float 3s ease-in-out infinite;
    border: solid DodgerBlue ;
    border-width: 1em;
    left: 30%;
    top: 50%;
    border-radius: 35px;
    position: absolute;
    width : 20%; 
    height : 20%; 
  }
}
@media only screen and (min-width: 500px) {
    
  .accueil img{
    animation:taadaa 2s forwards, float 3s ease-in-out infinite;
    border: solid DodgerBlue ;
    border-width: 1em;
    left: 55%;
    top: 30%;
    border-radius: 35px;
    position: absolute;
    width : 30%; 
    height : 32%; 
  }
}

  